body {
  margin: 0px;
  padding: 0px;
}
/*Grid Main*/
.box-main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
}

div:nth-child(2n) {
  display: flex;
  justify-content: center;
  background-color: black;
  grid-row-end: 1 span;
  grid-column-end: 1 span;
}

div:nth-child(5n) {
  display: flex;
  justify-content: center;
  background-color: rgb(188, 188, 188);
  grid-row-end: 0.5 span;
  grid-column-end: 0.5 span;
}

div:nth-child(7n) {
  display: flex;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  grid-row-end: 2 span;
  grid-column-end: 2 span;
}

/*Flip Box*/
.box-sight {
  background-color: transparent;
  perspective: 1000px;
  width: 100%;
  height: 100%;
}

/*Flip Box Inner*/
.box-first-sight {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

/*Flip Box Hover*/
.box-sight:hover .box-first-sight {
  transform: rotateX(180deg);
}

.box-front-part, .box-back-part {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.box-front-part {
  width: 100%;
  height: 100%;
}

.box-back-part {
  width: 100%;
  height: 100%;
}

